@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
Kullanıcı web sitesi tasarlanacak
</div>
<div>
    <form asp-controller="AuthToken" asp-action="Index" method="get">
        <button class="btn btn-success" type="submit">Giriş Yap</button>
    </form>
</div>
